<h2>Welcome~!! {{driver.currentUser.name}}</h2>

<h3>Driver Infomation</h3>
<form ng-submit="driver.create();">
  <label for="start_loc">Start Location</label>
  <input type="text" id="start_loc" placeholder="Start Location" ng-model="driver.start_loc">
  <label for="end_loc">Destination</label>
  <input type="text" id="end_loc" placeholder="Destination" ng-model="driver.end_loc">
  <label for="capacity">Capacity</label>
  <select id="capacity" ng-model="driver.capacity" ng-options="idx for idx in driver.range(1,6);"></select>
  <label for="time_plan">Planing Time</label>
  <input type="time" id="time_plan" placeholder="time" ng-model="driver.time_plan">
  <label for="meeting_loc">Meeting Location</label>
  <input type="text" id="metting_loc" placeholder="Enter the location you would like to meet others" ng-model="driver.metting_loc">
  <input type="submit" value="Submit">
</form>

<h2>Google Map</h2>
{{driver.map.center}} {{driver.map.zoom}}
<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
