Check Out Your Current Carpool Info
<hr>
{{driver.currentUser.id}}
{{driver.banana}}
<table id='carpools' class='table table-striped'>
  <caption>
    you suck -- <a ng-if='driver.currentUser.id === driver.banana._id' href="#/editdriver/{{driver.banana._id}}">Edit</a>
  </caption>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Destination</th>
    <th>Meeting Location</th>
    <th>Est. Departure Time</th>
    <th>Capacity</th>
  </tr>
  <tr>
    <td>{{driver.banana.name}}</td>
    <td>{{driver.banana._carpool.start_loc}}</td>
    <td>{{driver.banana._carpool.end_loc}}</td>
    <td>{{driver.banana._carpool.meeting_loc}}</td>
    <td>{{driver.banana._carpool.time_plan | date: 'h:mm a'}}</td>
    <td>{{driver.banana._carpool.capacity}}</td>
  </tr>
</table>
