Check Out Your Current Carpool Info
<hr>
<table id='carpools' class='table table-striped'>
  <caption>
    you suck
  </caption>
  <tr>
    <!-- <th>Name</th> -->
    <th>Location</th>
    <th>Destination</th>
    <th>Meeting Location</th>
    <th>Est. Departure Time</th>
    <th>Capacity</th>
  </tr>
  <tr>
    <form>
    <!-- <td><input type="text" ng.model='driver.name'</td> -->

    <td><input type="text" ng-model="driver.start_loc" value = {{driver.banana._carpool.start_loc}} ></td>
    <td><input type="text" ng-model="driver.end_loc" value = {{driver.banana._carpool.end_loc}}></td>
    <td><input type="text" ng-model="driver.meeting_loc" value = {{driver.banana._carpool.meeting_loc}}></td>
    <td><input type="time" ng-model="driver.time_plan"></td>
    <td><input type="text" ng-model="driver.capacity" value = {{driver.banana._carpool.capacity}} ></td>
  </tr>
  <tr>
  <td><input type='submit' ng-click='driver.edit(driver)' value='Submit'></td>
</form>
</tr>

</table>
