<div class="row">
  <div class="col-sm-3 col-md-8 col-md-offset-2 margin-top-20px">
    <a href="/#/carpool" class="btn btn-primary btn-lg">See all Carpools</a>
    <a href="/#/logout" class="btn btn-danger btn-lg" ng-if="user.loginStatus" ng-click="user.logout();">Logout</a>
    <div class="margin-top-20px">
      <fieldset>
        <legend>Welcome! Behold! Dojo Pool</legend>
        <form ng-submit="user.create()" ng-init="user.status=true" >
          <div class="form-inline center">
            <label for="username">Your Name: </label>
            <input type="text" ng-model="user.name" placeholder='Name' id="username" class="form-control">
            <input type="radio" ng-model='user.status' ng-value="true" id="rider"><label for="rider">Rider</label>
            <input type="radio" ng-model='user.status' ng-value="false" id="driver"><label for="driver">Driver</label>
          </div>
          <input type="submit" value='Submit' class="btn btn-default button_login margin-top-20px" >
        </form>
      </fieldset>
    </div>
    <h1 align='center' class="margin-top-header">Fitting 50 Students in 15 Parking Spots</h1>
  </div>
</div>
