<a href="/#/index" class="btn btn-danger btn-lg"> << Main</a>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 align='center'>Hello {{rider.currentUser.name}}</h2>
    <fieldset>
      <legend><h3>Enter Info!</h3></legend>
      <h4>All Fields required</h4>
      <hr />
      <form ng-submit='rider.update()'>
        <div class="form-group">
          <label for="group_size">Group Size:
            <select id="capacity" ng-model="rider.group_size" ng-init="rider.group_size=1" ng-options="idx for idx in rider.range(1,6);" ng-value="rider.group_size"></select>
        </div>
        <div class="form-group">
          <label for="contact_info">Contact Info:
            <input type="number" class="form-control" ng-model='rider.contact_info' ng-value="rider.user.contact_info" />
          </label>
        </div>
        <div class="form-group">
          <label for="datetime">Time to leave:
            <input type="text" class="form-control" ng-model='rider.time' datetime-picker date-only ng-value="rider.user.time | date: 'MMM, dd, yy, h:mma'">
          </label>
        </div>
          <input type="submit" class="btn btn-default" value='Submit'>
      </form>
    </fieldset>
  </div>
</div>
