Check Out Your Current Carpool Info
<hr>
<table id='carpools' class='table table-striped'>
  <caption>
    you suck -- <a ng-if='rider.currentUser.id === rider.banana._id' href="#/editrider/{{rider.banana._id}}">Edit</a>
  </caption>
  <tr>
    <th>Name</th>
    <th>Group Size</th>
    <th>Time</th>
    <th>Contact Info</th>
  </tr>
  <tr>
    <td>{{rider.banana.name}}</td>
    <td>{{rider.banana.group_size}}</td>
    <td>{{rider.banana.time | date: 'H:mm a'}}</td>
    <td>{{rider.banana.contact_info}}</td>
  </tr>
</table>
