Check Out Your Current Carpool Info
<hr>
asdfasdfasfd {{rider.users._id}} <br>
{{rider.currentUser.id}}

<table id='carpools' class='table table-striped'>
  <caption>
    you suck -- <a ng-if='rider.currentUser.id === rider.users._id' href="#/editrider/{{rider.users._id}}">Edit</a>
  </caption>
  <tr>
    <th>Name</th>
    <th>Group Size</th>
    <th>Time</th>
    <th>Contact Info</th>
  </tr>
  <tr>
    <td>{{rider.users.name}}</td>
    <td>{{rider.users.group_size}}</td>
    <td>{{rider.users.time}}</td>
    <td>{{rider.users.contact_info}}</td>
  </tr>
</table>
