.angular-google-map-container { height: 370px; }

body {
background-image: url('./images/front.jpg');
color: white;
}

caption {
  color: #f7e3e3;
}

legend {
  color: #f7e3e3;
  text-align: center;
  font-size: 3em;
  margin: 20px 0;
}

.logout {
  margin-left: 10px;
}

.user-form {
  text-align: center;
}

.user-name {
  color: rgb(242, 89, 75);
}

.requirement {
  text-align: center;
}

.rider-form {
  text-align: center;
}

.not-available {
  color: rgb(255, 61, 46);
}

.carpool-table {
  text-align: center;
  vertical-align: center;
}

.google_map {
  color: black;
}

.margin-top-header {
  margin-top: 150px;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}
