.angular-google-map-container { height: 370px; }

body {
background-image: url('./images/front.jpg');
color: white;
}

caption {
  color: #f7e3e3;
}

legend {
  color: #f7e3e3;
}

.google_map {
  color: black;
}

.margin-top-header {
  margin-top: 150px;
}

.margin-top-20px {
  margin-top: 20px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}
